@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

section {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10rem;
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}


.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 18px; 
}


nav p {
    font-size: 20px;
    font-weight: bold;
}


main h1{
    text-align: center;
    margin-top: 3rem;
    font-size: 22px;
}

main .email{
    display: block;
    margin: auto;
    padding: 7px;
    width: 25rem;
}

main .submit{
    display: block;
    margin: auto;
    padding: 8px;
    width: 15rem;
    margin-top: 1.5rem;
    font-size: 15px;
    background-color: #f1c40f;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

main .submit:hover{
    background-color: orange;
}

.features{
    margin-top: 10rem;
    margin-left: 18rem;
}

.features h2{
    font-size: 23px;
}

.features h3{
    
    font-size: 15px;
    font-weight:500;
}

.shipping{
    margin-top: 5rem;
    margin-left: 18rem;
}

.shipping h2{
    font-size: 23px;
}

.shipping h3{
    font-size: 15px;
    font-weight:500;
}

.assurance{
    margin-top: 5rem;
    margin-left: 18rem;
}

.assurance h2{
    font-size: 23px;
}

.assurance h3{
    font-size: 15px;
    font-weight:500;
}

.iframe {
    display: flex;
    justify-content: center; 
    margin: 5rem auto; 
    max-width: 100%; 
}

.pricing{
    display: flex;
    margin: 7rem 0 auto;
    justify-content: space-around;
}

.categories{
    width: 30rem;
    height: 33rem;
    border: 1px solid black;
}

.categories h2{
    text-align: center;
    font-size: 23px;
}

.categories ol{
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    font-weight:500;
    padding: 0rem;
}

.categories li{
    padding: 0.5rem;
}

.title{
    width:100%;
    height: 6rem;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: auto;
}

.select{
    display: block;
    margin: auto;
    padding: 8px;
    width: 15rem;
    margin-top: 1.5rem;
    font-size: 15px;
    background-color: #f1c40f;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.select:hover{
    background-color: orange;
}

.footer{
    background-color: #ddd;
    height: 9rem;
    width:100%;
    margin-top: 3rem;
}

.footer ol{
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 3rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 15px;
    font-weight:500;
    padding: 3rem;
    cursor: pointer;
}

.footer span{
    margin-top: -4rem;
    display: flex;
    margin-right: 4rem;
    justify-content: flex-end;
    font-size: 1.7rem;
    color: #444;
}






@media only screen and (max-width: 468px) {
    section {
        margin-left: -13rem;
        margin-right: 8%;
        margin-top: 2%;
    }  

    nav {
        display: flex;
        justify-content: space-around;
    }

    ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 4.5rem;
        right: 1rem;
        background-color: white;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    ul.show {
        display: flex;
    }

    a {
        font-size: 16px;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        margin-top: 2rem;
        right: 2rem;
    }

    nav p {
        font-size: 17px;
    }
}


@media (min-width: 468px) and (max-width: 768px) {
    section {
        margin-left: -34rem;
        margin-right: 8%;
        margin-top: 2%;
    }  

    nav {
        display: flex;
        justify-content: space-around;
    }

    ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 4.5rem;
        right: 1rem;
        background-color: white;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    ul.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        margin-top: 2rem;
        right: 3rem;
    }
}
